{% extends "bezar/base_django.html" %}

{% block title %} Accounts {% endblock %}

{% block account %}<li class="selected"><a href="{% url 'accounts:registration_register' %}">Account</a></li>{% endblock %}

{% block content %}




	{% if user.is_authenticated %}
	Logged in: {{ user.username }} 
	( <a href="{% url 'accounts:auth_logout' %}">Log out</a> | 
	<a href="{% url 'accounts:auth_password_change' %}">Change password</a>)
	{% else %}
	<a href="{% url 'accounts:auth_login' %}"> Log in</a>
	{% endif %}


	<p/>  



    <div id="registration_content">
        {% block registration_content %}{% endblock %}
    </div>




{% endblock %}